#
# Copyright (C) The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

service vendor.light-nothing /vendor/bin/hw/android.hardware.light-service.nothing
    class hal
    user system
    group system
    shutdown critical
